/* CONTAINERS */

.img-box
{
    display: flex;
    flex-direction: column;
}

.img-row
{
    display: flex;
    flex-direction: row;
}

.img-row figure
{
    padding: 0 50px 25px 0;
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------*/
/* IMAGEMS */

section img
{
    height: 150px;
    width: 200px;
}

figcaption
{
    font-family: "Pompiere", serif;
    font-size: 1.5rem;
    color: #FFFFFF;
}